<h1 class = "jumbotron"><%= @recipe.name %></h1>

<p><%= @recipe.content.gsub(/\n/, '<br/>').html_safe %></p>
<p>
  Tags: <% tag_names = @recipe.tags.map { |tag| tag.name } %> <%= tag_names.join(", ") %>
</p>

<p><a href="/recipes/<%=@recipe.id %>/edit">Edit</a> or
  <a href="/recipes/<%= @recipe.id %>"
    data-confirm="Are you sure you want to delete <%= @recipe.name %>?"
    data-method = "delete"
    rel="nofollow">Delete</a>
</p>

<p><a href="/recipes/">Return to the Recipe Listing</a></p>
